// PRIMARY COLORS
$color-moderate-violet: hsl(263, 55%, 52%);
$color-dark-blue: hsl(217, 19%, 35%);
$color-vdark-blue: hsl(219, 29%, 14%);

// NEUTRAL
$color-white: #fff;
$color-white-81: rgba(#fff, 0.81);
$color-black: #000;
$color-lightgray-blue: hsl(210, 46%, 95%);

// FONT-size
$font-default: 13px;
